</div>


<footer class="footer-box">
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="footer_blog">
          <div class="full margin-bottom_30">
            <!-- <img src="/img/footer_logo.png" alt="#"> -->
            <h4 style="color: aliceblue;"> <strong>Sankardev Shishu Niketan,
                Bhawanipur</strong> </h4>
            <!-- <h6 style="color: aliceblue;"> <strong>Vidya Bharati Initiative</strong> </h6> -->
          </div>
          <div class="full white_fonts">
            <p>
              Established in year 1996, SANKARDEV SHISHU NIKETAN ,BHAWANIPUR is located in rural area of Assam state of India. In Haripur of Sarupeta block of Barpeta district. Area pincode is 781352.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="footer_blog footer_menu white_fonts">
          <h3>External links</h3>
          <ul>
            <li><a href="http://vidyabharti.net/">&gt; Vidya Bharati</a></li>
            <li><a href="https://sebaonline.org/">&gt; SEBA, Assam</a></li>
          </ul>
        </div>
      </div>

      <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="footer_blog full white_fonts">
          <h3>Newsletter</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
          <div class="newsletter_form">
            <form action="index.html">
              <input type="email" placeholder="Your Email" name="#" required="">
              <button>Submit</button>
            </form>
          </div>
        </div>
      </div> -->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="footer_blog full white_fonts">
          <h3>Contact us</h3>
          <ul class="full">
            <li><img src="/img/i5.png"><span>Bhawanipur<br>Assam</span></li>
            <li><img src="/img/i6.png"><span>ssnbhelp@gmail.com</span></li>
            <li><img src="/img/i7.png"><span>+919365698129</span></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="footer_blog full white_fonts">
          <h3>We are here</h3>
          <ul class="full">
            <li>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.8016555374675!2d91.06374631498821!3d26.46212168332373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3759782d2909d1f3%3A0x468d4352b5862047!2sSankardev%20Sishu%20Niketan%20Bhawanipur!5e0!3m2!1sen!2sin!4v1603824026794!5m2!1sen!2sin"
                width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </li>
          </ul>
        </div>
      </div>



    </div>

  </div>
</footer>
<div class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="crp"> Copyright &COPY; 2020-21 | Er Bhargab Nath</p>
      </div>
    </div>
  </div>
</div>











<!-- <footer id="footer">
  <strong>
    <p class="container text-center">Copyright &COPY; All Rights Reserved | www.ssnb.in | Er Bhargab Nath | 2020-21</p>
    <p class="container float-right text-center">
      <a href="#">Back to Top</a>
    </p>
  </strong>
</footer> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>







<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<!-- <script src="js/bootstrap.min.js"></script> -->
<!-- ALL PLUGINS -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.pogo-slider.min.js"></script>
<script src="js/slider-index.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/form-validator.min.js"></script>
<script src="js/contact-form-script.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/images-loded.min.js"></script>
<script src="js/custom.js"></script>




</body>

</html>