<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/css2/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css2/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css2/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css2/custom.css" />

    <title>SSNB</title>
    <link rel="icon" href="/images/ssnb.jpg" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container my-10">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="/images/ssnb.jpg" alt="logo">
                <!-- <a class="navbar-brand" href="index.html"><img src="/img/logo.png" alt="image"></a> -->
                <a class="logo_name" href="/">Sankardev Shishu Niketan, Bhawanipur</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/teachers">Teachers</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/resources">Resources</a></li>
                            <li><a href="/notices/list">Notices</a></li>
                            <li><a href="/fee-structure">Fee Structure & Uniform</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="/gallery">Gallery</a></li> -->
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">