<%- include('../layouts/header') %>

    <h1>All Resources Here</h1>

    <div class="table-responsive">
        <table id="dtBasicExample" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">Class</th>
                </tr>
            </thead>

            <tbody>

                <% uniqueAray.forEach(function(chap){ %>
                    <tr>
                        <td>
                            <a href="/resources/<%= chap %>">
                                <%= chap %>
                            </a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

    <%- include('../layouts/footer') %>