<%- include('layouts/header') %>

<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="full">
                    <h3>About us</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                        <h2><span>Welcome To</span> Sankardev Sishu Niketan, Bhawanipur</h2>
                    </div>
                    <div class="full">
                        <p>
                            SANKARDEV SISHU NIKETAN, BHAWANIPUR was established in thge 1st January of 1996 and it is managed by the Vidya Bharati. It is located in urban area of Bhawanipur. It is located in SARUPETA block of BARPETA district of Assam. The school consists of Grades from 1 to 10. The school is Co-educational and it have an attached pre-primary section. The school is Not Applicable in nature and is not using school building as a shift-school. Assamese is the medium of instructions in this school. This school is approachable by all weather road. In this school academic session starts in April.
                            The school has Private building. It has got 12 classrooms for instructional purposes. All the classrooms are in good condition. It has 2 other rooms for non-teaching activities. The school has a separate room for Head master/Teacher. The school has Pucca boundary wall. The school has have electric connection. The source of Drinking Water in the school is Hand Pumps and it is functional. The school has 2 boys toilet and it is functional. and 2 girls toilet and it is functional. The school has no playground. The school has a library and has 60 books in its library. The school does not need ramp for disabled children to access classrooms. The school has 4 computers for teaching and learning purposes and all are functional. The school is not having a computer aided learning lab. The school is Not Provided providing mid-day meal.
                        </p>
                        <div class="thumbnail">
                            <img src="/images/ssnb1.jpg" height="300px" alt="" srcset="">
                            <img src="/images/ssnb2.jpg" height="300px" alt="" srcset="">
                            <img src="/images/ssnb3.jpg" height="300px" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="full">
                    <img src="/img/img2.png" alt="#">
                </div>
            </div> -->
        </div>
    </div>
</div>

<%- include('layouts/footer') %>