<%- include('layouts/header') %>

    <h2>All Admin Links Here</h2>

    <div class="jumbotron">
        <a href="/admin/resources/add-resource">Add Resource</a> <br>
        <a href="/admin/notices/add-notice">Add Notice</a><br>
        <a href="/admin/teachers/add-teacher">Add Teacher</a><br>
    </div>

    <%- include('layouts/footer') %>