<%- include('layouts/header') %>


<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider pogoSlider--dirCenterHorizontal pogoSlider--navBottom" id="js-main-slider"
                style="padding-bottom: 30%;">
                <div class="pogoSlider-slide"
                    style="background-image: url(&quot;img/banner_img.png&quot;); opacity: 0;">
                    <div class="pogoSlider-progressBar">
                        <div class="pogoSlider-progressBar-duration" style="width: 0px;"></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <!-- <h3><span span="" class="theme_color">You only have know one thing</span><br>you
                                        can learn anything</h3>
                                    <h4>Free Educations</h4> -->
                                    <br>
                                    <!-- <div class="full center">
                                        <a class="contact_bt" href="courses.html">Start a Course</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide"
                    style="background-image: url(&quot;images/ssnb5.jpg&quot;); opacity: 1; z-index: 1;">
                    <div class="pogoSlider-progressBar">
                        <div class="pogoSlider-progressBar-duration" style="width: 28.66%;"></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <!-- <h3><span span="" class="theme_color">You only have know one thing</span><br>you
                                        can learn anything</h3>
                                    <h4>Free Educations</h4>
                                    <br> -->
                                    <!-- <div class="full center">
                                        <a class="contact_bt" href="courses.html">Start a Course</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button class="pogoSlider-dir-btn pogoSlider-dir-btn--prev"></button><button class="pogoSlider-dir-btn pogoSlider-dir-btn--next"></button><ul class="pogoSlider-nav"><li data-num="0"><button class="pogoSlider-nav-btn"></button></li><li data-num="1"><button class="pogoSlider-nav-btn pogoSlider-nav-btn--selected"></button></li></ul></div> -->
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
</div>

<br>
<br>

<%- include('layouts/footer') %>