<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSNB</title>
</head>

<body>
    <h3>Notice</h3>

    <form method="POST" action="/api/notice/create">
        <input type="text" name="name" placeholder="Name">
        <input type="file" name="photo" placeholder="Photo" id="">
        <button>Send</button>
    </form>
</body>

</html>